.header_box
{
    display: flex;
    border-bottom: solid 1px;
    border-color: #EBE8F4;
    width: 1440px;
    height: 80px;
    margin: 0 auto;

}
.header_box-ul
{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}
.header_box-ul a
{
    text-decoration: none;
    font-family: "Open sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: #726E8D;

}
.header_span
{
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    color: #22202E;
}
.header_box-ul-a1
{
    margin-left: 40px;
    margin-right: 149px;
}
.header_box-ul-a2
{
    margin-right: 44px;
    min-width: 75px;
}
.header_box-ul-a3 {
    margin-right: 44px;
}
.header_box-ul-a3 {
    margin-right: 44px;
}
.header_box-ul-a4 {
    margin-right: 44px;
}
.header_box-ul-a5 {
    margin-right: 44px;
}
.header_box-ul-a6 {
    margin-right: 44px;
}
.header_box-ul-a7 {
    margin-right: 44px;
}
.header_box-ul-a8 {
    margin-right: 281px;
}
.header_box-ul-a9 {
    margin-right: 16px;
}
.header_box-ul-a10 {
    margin-right: 16px ;
}
.header_box-ul-a11 {
    margin-right: 16px;
}
.main_box1
{
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 223px;
    justify-content: center;
    margin: 0 auto;
    padding-top: 80px;
}
.main_box1 p
{
    display: flex;
    justify-content: center;
    color: #2A254B;
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 50px;

}
.main_box2
{
    display: flex;
    margin: 0 auto;
    width: 1280px;
    height: 68px;
    align-items: center;
    column-gap: 12px;
    padding-left: 24px;
}
.main_box2 select
{
    height: 48px;
    padding: 12px 24px;
    font-family: "Open sans", sans-serif;
    font-size: 16px;
    color: #2A254B;
    line-height: 24px;
    appearance: none;
    background: url("../Images/Caret--down.svg") no-repeat calc(100% - 24px);

}
.form-select1
{

    min-width: 139px;
}
.form-select2
{
    min-width: 168px;
}
.form-select3
{
    min-width: 109px;
}
.form-select4
{
    min-width: 118px;
}
.form-select5
{
    min-width: 160px;
}
.main_box2 p
{
    font-family: "Open sans", sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #2A254B;
    margin-right: 4px;
    margin-left: 425px;
}
.main_wrapper
{
    display: grid;
    width: 1440px;
    height: 1654px;
    justify-content: center;
    margin: 5px auto;
    padding-top: 28px;
    grid-template-columns: repeat(4, 305px);
    grid-template-rows: repeat(4, 462px);
    grid-column-gap: 20px;
    grid-row-gap: 48px;
}
.main_wrapper p
{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    line-height: 28px;
    color: #2A254B;
    margin-top: 15px;
    margin-bottom: 8px;
}
.main_wrapper span{
    font-family: "Open Sans",sans-serif;
    font-size: 18px;
    color: #2A254B;
    line-height: 27px;
}
.main_wrapper-form
{
    display: flex;
    height: 56px;
    justify-content: center;
    align-items: center;
    margin-left: 635px;

}
.main_wrapper-button
{
    min-width: 175px;
    min-height: 56px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #2A254B;
    background-color: #F9F9F9;
    border: 0;
}
.main_container
{
    display: flex;
    width: 1440px;
    height: 521px;
    margin: 0 auto;
}
.main_container-1
{
    width: 720px;
    height: 521px;
    background-image: url("../Images/join-background.jpg");
    background-position: left;
}
.main_container-2
{
    display: flex;
    width: 720px;
    height: 521px;
    flex-direction: column;
}
.main_container-2-p1
{
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    line-height: 39px;
    color: #2A254B;
    margin-left: 49px;
    margin-top: 71px;
}
.main_container-2-p2
{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #2A254B;
    width: 470px;
    margin-left: 49px;
    margin-top: -19px;
}
.main_container-2-button
{
    min-width: 120px;
    height: 56px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: white;
    background-color:#2A254B;
    margin-left: 72px;
    margin-top: 216px;
}
.footer_content
{
    display: flex;
    background-color: #2A254B;
    width: 1440px;
    height: 312px;
    margin: 0 auto;
}
.footer_content_nav
{
    display: flex;
    flex-direction: row;
    width: 1440px;
    height: 380px;
    margin: 0 auto;
}
.footer_content-image
{
    display: flex;
    width: 642px;
    height: 195px;
    margin-right: 118px;
    margin-top: 40px;
}
.footer_content_nav ul
{
    list-style: none;
}
.footer_content_nav a
{
    text-decoration: none;
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 19px;
}
.footer_content_nav span
{
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 20px;
}
.footer_content_nav-menu1
{
    display: flex;
    min-width: 117px;
    min-height: 175px;
    margin-top: 30px;
    margin-left: 45px;

}
.footer_content_nav-menu2
{
    display: flex;
    min-width: 86px;
    min-height: 206px;
    margin-top: 30px;
    margin-left: 100px;
}
.footer_content_nav-menu3
{
    display: flex;
    min-width: 111px;
    min-height: 175px;
    margin-top: 30px;
    margin-left: 131px;

}
.footer_content-bottom
{
    display: flex;
    width: 1440px;
    height: 68px;
    background-color: #2A254B;
    margin: 0 auto;
    justify-content: end;
    align-items: center;
    column-gap: 24px;
    align-self: end;

}

.footer_content-bottom p
{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: white;
    margin-right: 820px;
}
.footer_content-bottom div
{
    width: 24px;
    height: 24px;
}
.item1
{
    background-image: url("../Images/logo--linkedin.svg");
    background-position: center;
    background-size: 100%;
}
.item2
{
    background-image: url("../Images/logo--facebook.svg");
    background-position: center;
    background-size: 100%;
}
.item3
{
    background-image: url("../Images/logo--instagram.svg");
    background-position: center;
    background-size: 100%;
}
.item4
{
    background-image: url("../Images/logo--skype.svg");
    background-position: center;
    background-size: 100%;
}
.item5
{
    background-image: url("../Images/logo--twitter.svg");
    background-position: center;
    background-size: 100%;
}
.item6
{
    background-image: url("../Images/logo--pinterest.svg");
    background-position: center;
    background-size: 100%;
    margin-right: 83px;
}
.stick
{
    position: relative;

}
.stick:before
{
    content: "";
    position: absolute;
    display: block;
    width: 1277px;
    height: 1px;
    background-color: #4E4D93;
    top: 0;
    left: 5.5%;

}
